@model List<CertificationListDto>
@{
    ViewData["Title"] = "Sertifika Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="text-right mb-2">
    <a asp-area="Admin" asp-controller="Certification" asp-action="Add" class="btn btn-outline-primary btn-sm mr-1">Ekle</a>
</div>


<table class="table table-hover table-striped">
    <tr>
        <th>#</th>
        <th>Açıklama</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Descripiton</td>
            <td>
                <a asp-area="Admin" asp-controller="Certification" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm mr-1">Güncelle</a>
                <a asp-area="Admin" asp-controller="Certification" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm" onclick="retunr confirm('Silmek istediğinize emin misiniz?')">Sil</a>
            </td>
        </tr>
    }
</table>

